{% load static %}
<h2 class="main_wrapper">Ответы на частозадаваемые вопросы</h2>
<div class="d-flex justify-content-between faq_container main_wrapper mb-5">
    <div class="d-flex flex-column gap-3 faq_column">
        <div class="faq">
            <div class="faq_header d-flex justify-content-between align-items-center gap-2">
                <span class="faq_heading">Сколько прослужит окно?</span>
                <div class="plus_minus">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon plus">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                </div>
            </div>
            <div class="faq_body">
                На срок службы пластиковых окон влияет качество комплектующих, соблюдение технологии сборки и монтажа, а
                также особенности эксплуатации и обслуживания конструкции. Хорошо собранные окна сохраняют свои характеристики в
                течение 40–50 лет. Срок службы ПВХ-профиля составляет 30–40 лет.
                <br>
                Срок службы фурнитуры окон измеряют в количестве рабочих циклов. Так, расчетный период использования петель
                и замков составляет 20 000 циклов. Это значит, что если открывать створку по три раза в день, то комплектующие
                прослужат не менее 18 лет. При этом вышедшую из строя оконную фурнитуру можно заменить при необходимости. Ремонт не
                отразится на функциональности окна.
                <br>
                Срок службы окон ПВХ сокращается из-за монтажных ошибок. Плохо установленные окна могут начать запотевать,
                промерзать. Часто наблюдается провисание створок, перекос рам, появление трещин. Увеличить срок использования
                окон ПВХ поможет грамотный монтаж и регулярное профилактическое обслуживание.
            </div>
        </div>
        <div class="faq">
            <div class="faq_header d-flex justify-content-between align-items-center gap-2">
                <span class="faq_heading">Как выбрать нормального производителя окна? На что обратить внимание?</span>
                <div class="plus_minus">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon plus">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                </div>
            </div>
            <div class="faq_body">
                Перед тем, как выбрать пластиковые окна, желательно посмотреть, имеются ли представительства производителя в вашем городе.
                Заказывать окна и монтаж лучше всего в одной компании. От качества монтажа зависит удобство эксплуатации и срок службы окна.
                <br>
                Оценить рейтинг производителя можно по нескольким критериям:
                <br>
                Производит окна с широким набором функциональных и потребительских свойств — энергоэффективные, противовзломные, с защитой от
                шума и др.;
                консультирует по выбору и заказу оконных систем;
                имеет сертификаты на продукцию и комплектующие;
                сотрудничает с сертифицированными дистрибьюторами;
                предоставляет гарантию на конструкции и сервисные услуги
                имеет долгий срок работы на рынке, портфолио реализованных решений и положительные отзывы.
                Существует разница между компаниями, занимающимися непосредственным производством профильных систем или фурнитуры и
                организациями по выпуску пластиковых окон. Поэтому прежде чем выбрать производителя окон стоит понять, производит ли фирма
                профили и комплектующие, или же специализируется исключительно на сборке из готовых деталей.
                <br>
                На сайте PLIDOWS представлены контактны проверенных компаний, которые работают с профилями бренда.
            </div>
        </div>
        <div class="faq">
            <div class="faq_header d-flex justify-content-between align-items-center gap-2">
                <span class="faq_heading">Как заказать звонок специалиста?</span>
                <div class="plus_minus">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon plus">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                </div>
            </div>
            <div class="faq_body">
                Заявку на звонок от специалиста можно оставить в любом разделе нашего сайта.
                Находясь на любой странице нашего сайта, вам достаточно просто нажать “Заказать звонок” в
                верхнем правом углу экрана и ввести свои данные. После того, как вы нажмете кнопку “Отправить”
                заявку получат наши партнеры — производители готовых оконных конструкций. Они свяжутся с вами в
                течение суток для обсуждения деталей заказа окон или дверей.
            </div>
        </div>
        <div class="faq">
            <div class="faq_header d-flex justify-content-between align-items-center gap-2">
                <span class="faq_heading">Можно ли переустанавливать окна в зимнее время?</span>
                <div class="plus_minus">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon plus">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                </div>
            </div>
            <div class="faq_body">
                Не стоит бояться менять окна в зимнее время. Современные технологии, которые применяют партнеры PLIDOWS, позволяют 
                устанавливать конструкции и в зимнее время, при температуре не ниже -20 градусов. Кроме того, в зимний период нет 
                такого ажиотажа, как летом, а потому заказ будет изготовлен значительно быстрее. Также у компаний в этот период есть 
                акционные предложения, которыми можно воспользоваться в целях экономии. Но качество монтажа от этого не пострадает.
            </div>
        </div>
        <div class="faq">
            <div class="faq_header d-flex justify-content-between align-items-center gap-2">
                <span class="faq_heading">На сколько лет дается гарантия и на что?</span>
                <div class="plus_minus">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon plus">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                </div>
            </div>
            <div class="faq_body">
                В соответствии с ГОСТ 30674-99 «Блоки оконные из поливинилхлоридных профилей» гарантийный срок службы 
                пластиковых окон составляет не менее 3 лет, при условии правильного хранения, монтажа и эксплуатации. 
                Изготовитель окон по своему усмотрению может увеличить этот срок, указав его в договоре на поставку.
                <br>
                Например, компания PLIDOWS дает бессрочную гарантию на готовые окна из профиля PLIDOWS, если они приобретены у 
                продавцов, включенных в «Программу PLIDOWSвой ГАРАНТИИ». В случае рекламации наши специалисты оценят состояние 
                окон, и если проблема появилась из-за некачественного изготовления окон, бесплатно отремонтируют их или заменят целиком.
                <br>
                Гарантия на фурнитуру составляет также 3 года.
            </div>
        </div>
        <div class="faq">
            <div class="faq_header d-flex justify-content-between align-items-center gap-2">
                <span class="faq_heading">Где купить хорошие недорогие пластиковые окна?</span>
                <div class="plus_minus">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon plus">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                </div>
            </div>
            <div class="faq_body">
                Советуем обращаться к официальным партнерам компании PLIDOWS в вашем городе — они совершенно точно будут изготовлены из 
                качественных комплектующих и в строгом соответствии с технологией. Что касается цены, то она зависит от многих факторов — 
                и в первую очередь от выбранной комплектации окна.
            </div>
        </div>
    </div>
    <div class="d-flex flex-column gap-3 faq_column">
        <div class="faq">
            <div class="faq_header d-flex justify-content-between align-items-center gap-2">
                <span class="faq_heading">Обязательно ли вызывать замерщика?</span>
                <div class="plus_minus">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon plus">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                </div>
            </div>
            <div class="faq_body">
                Нет, не обязательно — вы можете измерить габариты оконных проемов самостоятельно и оформить заказ на 
                изготовление окон. Однако учтите, что в некоторых случаях границы проема трудно различить под отделкой откосов. 
                Если размеры окажутся неправильными, при установке окна возникнут проблемы. Не исключено, что окно придется заказывать 
                заново по другим — правильным — размерам.
                <br>
                Учтите также, что замерщик не только снимает мерку — он обязательно оценивает состояние стен и оконных проемов и 
                заранее предупредит заказчика, если что-то может помешать качественному монтажу окон.
                <br>
                Кроме того, на основании своего опыта замерщик может дать очень ценные рекомендации по выборе комплектации каждого 
                конкретного изделия: например, посоветует наиболее удобные размеры створок с учетом расположения окна в комнате.
            </div>
        </div>
        <div class="faq">
            <div class="faq_header d-flex justify-content-between align-items-center gap-2">
                <span class="faq_heading">Можно ли отремонтировать пластиковые окна?</span>
                <div class="plus_minus">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon plus">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                </div>
            </div>
            <div class="faq_body">
                Да, пластиковые окна ремонтопригодны — при необходимости все поврежденные или изношенные компоненты окон, кроме рамы, 
                заменяют. Для замены рамы необходимо полный демонтаж окна — ремонтом такую замену назвать уже нельзя.
                <br>
                Замена сломанной ручки, потерявших эластичность резиновых уплотнителей или изношенных запорных механизмов — рутинный ремонт,
                которые не отнимает много времени. Иногда приходится заменять треснувший или потерявший герметичность стеклопакет. 
                Более серьезные неисправности при нормальной эксплуатации окон возникают редко.
                <br>
                Чтобы предупредить дорогостоящий ремонт, окна необходимо регулярно — не реже, чем 1 раз в год — обслуживать: очищать от грязи, 
                смазывать и регулировать механизмы и фурнитуру.
            </div>
        </div>
        <div class="faq">
            <div class="faq_header d-flex justify-content-between align-items-center gap-2">
                <span class="faq_heading">Важно ли, чтобы у компании было собственное производство?</span>
                <div class="plus_minus">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon plus">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                </div>
            </div>
            <div class="faq_body">
                Компания, которая и производит, и продает пластиковые окна контролирует процесс изготовления своей продукции и при выявлении 
                каких-либо проблем с качеством оперативно их устраняет.
                <br>
                Однако надежность и долговечность светопрозрачной конструкции зависит в первую очередь от качества комплектующих, и лишь затем — 
                от сборки. Поэтому мы рекомендуем покупать окна в фирмах, которые сотрудничают с ведущими производителями ПВХ профиля и 
                фурнитуры и имеют соответствующие сертификаты.
            </div>
        </div>
        <div class="faq">
            <div class="faq_header d-flex justify-content-between align-items-center gap-2">
                <span class="faq_heading">Можно ли устанавливать окна самостоятельно?</span>
                <div class="plus_minus">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon plus">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                </div>
            </div>
            <div class="faq_body">
                Да, можно. В интернете достаточно статей, в которых процедура монтажа окон подробно описана. Однако при самостоятельном 
                монтаже из-за недостатка опыта вы рискуете наделать ошибок: если особенности конкретного оконного проема заставят отойти 
                от стандартной технологии, вы можете просто не найти нужного решения.
                <br>
                Помните: при самостоятельной установке гарантии на монтаж нет. Более того, если из-за неправильного монтажа что-то случится 
                с самим окном, это тоже негарантийный случай, так как изготовитель светопрозрачной конструкции несет ответственность только 
                за производственный брак, но не за дефекты, вызванные некомпетентной установкой.
            </div>
        </div>
        <div class="faq">
            <div class="faq_header d-flex justify-content-between align-items-center gap-2">
                <span class="faq_heading">Почему у ряда компаний могут быть достаточно недорогие по цене окна? В чем подвох?</span>
                <div class="plus_minus">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="plus_minus_icon plus">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
                    </svg>
                </div>
            </div>
            <div class="faq_body">
                За время, прошедшее с момента выхода пластиковых окон на рынок технология их изготовления отработана и оптимизирована. 
                Снизить себестоимость готовых изделий можно только за счет использования более дешевых комплектующих — в первую очередь 
                профиля и фурнитуры.
                <br>
                Заказывая окна по низкой цене, покупатель рискует получить изделие из профиля, который долго не прослужит. Внешне окна из 
                дешевого профиля выглядят так же, как и из более дорогого. Разница проявится в эксплуатации, когда недостаточно жесткая створка 
                деформируется под весом стеклопакета, окно перестанет плотно закрываться и из него начнет дуть.
                <br>
                Покупка окон по низкой цене оправдана только в одном случае — в качестве временных, например, на время капитального ремонта дома
            </div>
        </div>
    </div>
</div>