{% load static %}
<h2 class="reviews_heading main_wrapper mt-3">Отзывы о нашей компании</h2>
<div class="reviews_slider overflow-hidden">
    <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-active">
            <div class="d-flex flex-column review_container">
                <p class="review_text">
                    Заказывали замену окон в частном деревянном доме, основная проблема была даже не только в эстетике,
                    сколько в практичности старый рам: они уже покосились, местами были щели толщиной с палец, которые
                    приходилось постоянно запенивать – помогало плохо и только на время. Отсюда же сквозняки и прочие
                    неприятности, дом тепло держал очень плохо, а все из-за окон! Заменили на металлопластиковый профиль
                    Plidows и пожаловаться не на что теперь: дом посветлел, как будто ожил и помолодел лет на пятьдесят.
                    Тепло отлично держится внутри комнат, проверено кусачими морозами ниже 20 градусов этой зимой.
                </p>
                <div class="d-flex justify-content-between align-items-center gap-2">
                    <div class="d-flex flex-column">
                        <span class="review_name">Лида Иванова</span>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="review_date">22.09.2023</span>
                            <span class="review_rate">
                                <span class="fa-solid"></span>
                                <span class="fa-solid"></span>
                                <span class="fa-solid"></span>
                                <span class="fa-solid"></span>
                                <span class="fa-solid"></span>
                            </span>
                        </div>
                    </div>
                    <input type="hidden" value="Москва">
                    <button class="review_more">Подробнее</button>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="d-flex flex-column review_container">
                <p class="review_text">
                    Сделали ремонт сыну в детской с полной заменой окна, старое было такое себе - ещё бы постояло, но раз 
                    уж обновляли комнату, обновили и окно. Взяли с внутренней ламинацией кобальт (ручка и уплотнитель чёрные)! 
                    Выглядит просто супер!!! И сам профиль очень нравится, качественный и надёжный, аж с пятью камерами, шириной 
                    70 миллиметров. Ну а что - брать так брать уж! В ноябре продолжим ремонт в квартире, о выборе окон уже вопрос 
                    не стоит, только Plidows!
                </p>
                <div class="d-flex justify-content-between align-items-center gap-2">
                    <div class="d-flex flex-column">
                        <span class="review_name">Настя Прилужная</span>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="review_date">06.01.2024</span>
                            <span class="review_rate">
                                <span class="fa-solid"></span>
                                <span class="fa-solid"></span>
                                <span class="fa-solid"></span>
                                <span class="fa-solid"></span>
                                <span class="fa-solid"></span>
                            </span>
                        </div>
                    </div>
                    <input type="hidden" value="Москва">
                    <button class="review_more">Подробнее</button>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="d-flex flex-column review_container">
                <p class="review_text">
                    Меняли окна в доме своем на профиль 70мм softline, стеклопакеты с энергосбережением с аргоном закачанным в 
                    две камеры. Уплотнитель серого цвета – прикольно выглядит, интересно. Фурнитура Масо Хармони – очень 
                    приятная, плавно двигаются ручки, мягко, без скрипа и усилия прилагать не надо.
                </p>
                <div class="d-flex justify-content-between align-items-center gap-2">
                    <div class="d-flex flex-column">
                        <span class="review_name">Алла Борисовна</span>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="review_date">18.02.2004</span>
                            <span class="review_rate">
                                <span class="fa-solid"></span>
                                <span class="fa-reg"></span>
                                <span class="fa-reg"></span>
                                <span class="fa-reg"></span>
                                <span class="fa-reg"></span>
                            </span>
                        </div>
                    </div>
                    <input type="hidden" value="Москва">
                    <button class="review_more">Подробнее</button>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="d-flex flex-column review_container">
                <p class="review_text">
                    У меня балконный блок из профиля PLIDOWS SOFTLINE 70, фурнитура SIGENIA TITAN, окраска снаружи Ral Premium. 
                    Эмоции исключительно положительные, потому что, балконный блок выглядит нереально стильно, коричневый цвет 
                    в дальнейшем, я уверена, окажется гораздо более практичным, чем белый пластик. По эксплуатации уже сейчас я 
                    вижу разницу с тем, какая дверь была раньше, ту приходилось с огромным усилием закрывать и открывать, плюс 
                    ручка постоянно раскручивась, в этот раз не экономили мы не на профиле, ни на фурнитуре. Думаю теперь, что 
                    окна на кухне тоже пойдут под замену на этот же профиль позже поменяем.
                </p>
                <div class="d-flex justify-content-between align-items-center gap-2">
                    <div class="d-flex flex-column">
                        <span class="review_name">Диана Миронова</span>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="review_date">18.02.2004</span>
                            <span class="review_rate">
                                <span class="fa-solid"></span>
                                <span class="fa-solid"></span>
                                <span class="fa-solid"></span>
                                <span class="fa-solid"></span>
                                <span class="fa-solid"></span>
                            </span>
                        </div>
                    </div>
                    <input type="hidden" value="Москва">
                    <button class="review_more">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex gap-3 align-items-center mx-auto justify-content-center mt-4">
        <div class="reviews-button-prev examples_arrow_button">
            <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"/>
            </svg>
            <span class="visually-hidden">Предыдущий слайд</span>
        </div>
        <div class="revies-swiper-pagination w-auto"></div>
        <div class="reviews-button-next examples_arrow_button">
            <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"/>
            </svg>
            <span class="visually-hidden">Следующий слайд</span>
        </div>
    </div>
</div>
<div class="full_review_modal">
    <div class="d-flex flex-column review_container">
        <div class="d-flex justify-content-between align-items-center gap-2">
            <h2>Отзыв</h2>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="xmark">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </div>
        <p class="review_text">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
        <div class="d-flex justify-content-between align-items-end gap-2">
            <div class="d-flex flex-column">
                <span class="review_name">MAKS NFHFCJD</span>
                <div class="d-flex gap-2 align-items-center">
                    <span class="review_date">18.02.2004</span>
                    <span class="review_rate">
                        <span class="fa-solid"></span>
                        <span class="fa-reg"></span>
                        <span class="fa-reg"></span>
                        <span class="fa-reg"></span>
                        <span class="fa-reg"></span>
                    </span>
                </div>
            </div>
            <p class="small_text">Москва</p>
            <button class="review_more">Подробнее</button>
        </div>
    </div>
</div>